<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WindowsUI.TQS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- 用于检查网络的IP地址-->
    <!--<add key="ServerIP" value="192.168.8.2" />-->
    <add key="ServerIP" value="192.168.1.1" />
    <!-- 窗口无操作自动退出等待时间-->
    <add key="WinForm_WaitTime" value="60" />
    <!--U盾密码读取地址-->
    <add key="WebServUKey" value="http://192.168.1.120:8022/ServiceUKeyRemote.asmx"/>
    <add key="KeyBoardSetupPath" value="ClassLibrary\\keyboard\\ScreenKeyboard.exe" />
  </appSettings>
  <connectionStrings>
    <!--<add name="LinqToSQLModel.Properties.Settings.SIOTS_HHZXDBConnectionString"
      connectionString="Data Source=.;Initial Catalog=SIOTS_HHZXDB;Persist Security Info=True;user id=sa;Password=!!!aaa111"
      providerName="System.Data.SqlClient" />-->
    <add name="LinqToSQLModel.Properties.Settings.SIOTS_HHZXDBConnectionString"
      connectionString="Data Source=.;Initial Catalog=SIOTS_HHZXDB;Persist Security Info=True;user id=sa;Password=!!!aaa111"
      providerName="System.Data.SqlClient" />
    <!--<add name="LinqToSQLModel.Properties.Settings.SIOTS_HHZXDBConnectionString"
      connectionString="Data Source=192.168.8.2;Initial Catalog=SIOTS_HHZXDB;Persist Security Info=True;user id=sa;Password=!!!aaa111"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <applicationSettings>
    <WindowsUI.TQS.Properties.Settings>
      <setting name="WindowsUI_TQS_UKeyRemote_ServiceUKeyRemote" serializeAs="String">
        <value>http://192.168.1.120:8022/ServiceUKeyRemote.asmx</value>
      </setting>
    </WindowsUI.TQS.Properties.Settings>
  </applicationSettings>
</configuration>