<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- 是否运行复制-->
    <add key="IsCopy" value="1" />
    <!-- 是否运行删除-->
    <add key="IsDelete" value="1" />
    <!-- 复制文件时间，多个时间用分号“;”隔开,24小时制-->
    <add key="CopyTimes" value="13:30;17:15" />
    <!-- 日志文件路径-->
    <add key="LogsPath" value="F:\Test\3" />
    <!-- 复制文件源路径，末尾无\-->
    <add key="CopySourcePath" value="F:\Test\1" />
    <!-- 复制文件目标路径，末尾无\-->
    <add key="CopyTargetPath" value="F:\Test\2" />
    <!-- 删除文件时间，单位日，当文件修改时间-->
    <add key="DeleteTimeLong" value="1" />
    <!-- 删除文件路径，末尾无\-->
    <add key="DeleteTargetPath" value="F:\Test\1" />
    <!-- 删除文件时间-->
    <add key="DeleteTimes" value="13:30" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>